.page-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  &:nth-of-type(even) {
    background-color: lighten(rgba(128, 128, 128, 0.9), 40%);
  }
}


.page-form__caption {
  margin: 0;
  color: $pink-red;
  display: block;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 40px 40px 40px 40px;
  text-align: center;
}


.page-form__legend {
  margin: 0;
  color: $pink-red;
  display: block;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 40px 40px 19px 40px;
  text-align: center;
}
