.photo-paragraph {
  font-size: 14px;
  line-height: 30px;
  color: $pink-notblack;
  text-align: center;
  margin: 0;
  padding: 20px 38px 97px;

    &:last-child {
      padding-bottom: 44px;
  }
}
