$pink-red:#d22856;
$pink-notblack:#283645;


body {
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
